*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


   
 
  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#home{
    padding: 10px 5%;
    max-width: 100%;
    height: 100vh;

}

.mcontainer{
    width: 100%;
    height: fit-content;
    background-color: #F8FAFC;
}



.con-heading h2{
    color:#2D3958 ;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;

}

.con-heading p{
    
      text-align: center;
      color: rgb(123, 136, 168);
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: medium;
      line-height: 1.5;
      
       
    
}
ul{
    list-style: none;



}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
ul li ul.dropdown li a{
  color: black;
}
ul li ul.dropdown li{
    display: block;


}
ul li ul.dropdown{
    width: 100%;
    position: absolute;
    display: none;
}
ul li:hover ul.dropdown{
    display: block;
    background-color: #fff;
    width: 250px;
    border-radius: 10px;
}
.logo{
    width: 200px;
}
.demmo{
    background-color: red;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
}

.belowcards{
    background-color: whitesmoke;
    text-align: center;
    padding: 30px;
}
.down-side{
    width: 100%;
    height: 50vh;
    background-color: #DAE6E9;
    border-radius: 60px 60px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.down-side h1{
    color: #2d3958;
}
.down-side button{
    margin-top: 4%;
    width: 140px;
    height: 50px;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 50px;
    padding: 5px;
}
